{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% set header_bg_image = post.img_url %}

<!-- Page Header-->
{% block header %}
          <h1>{{ post.title }}</h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
          <span class="meta"
            >Posted by
            <a href="#">{{ post.author }}</a>
            on {{ post.date }}
          </span>
{% endblock %}

<!-- Post Content -->
{% block content %}
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body|safe }}
        <!--TODO: Only show Edit Post button if user id is 1 (admin user) -->
        {% if admin %}
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}" >Edit Post</a>
          <a class="btn btn-secondary float-right mx-4" href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
        </div>
        {% endif %}

        <!-- Comments Area -->
        <!-- TODO: Add a CKEditor for commenting below -->
        {{ render_form(form)|safe }}
        <div class="comment">
          <!-- TODO: Show all the comments on a post -->
          
          <ul class="commentList">
            {% for comment in post.comments %}
            <li>
              <div class="commenterImage">
                <img src="../static/assets/img/default-profile.jpg" />
              </div>
              <div class="commentText">
                <p>{{ comment.body }} | <a href="{{ url_for('delete_comment', id=comment.id, pid=post.id) }}" class="date sub-text">Delete comment</a></p>
                <span class="date sub-text">{{ comment.user.name }}</span>
              </div>
            </li>
            <hr>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>

{{ ckeditor.load() }}
{{ ckeditor.config(name='comment') }}

{% endblock %}
